# Assignment 5, Question 6: Data Transformation

**Points: 20**

Transform and engineer features from the clinical trial dataset.

## Setup

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Import utilities
from q3_data_utils import load_data, clean_data, transform_types, create_bins, fill_missing

df = load_data('output/q5_cleaned_data.csv')
print(f"Loaded {len(df)} patients")

# Prewritten visualization functions for transformation analysis
def plot_distribution(series, title, figsize=(10, 6)):
    """
    Create a histogram of a numeric series.
    
    Args:
        series: pandas Series with numeric data
        title: Chart title
        figsize: Figure size tuple
    """
    plt.figure(figsize=figsize)
    series.hist(bins=30)
    plt.title(title)
    plt.xlabel('Value')
    plt.ylabel('Frequency')
    plt.tight_layout()
    plt.show()

def plot_value_counts(series, title, figsize=(10, 6)):
    """
    Create a bar chart of value counts.
    
    Args:
        series: pandas Series with value counts
        title: Chart title
        figsize: Figure size tuple
    """
    plt.figure(figsize=figsize)
    series.plot(kind='bar')
    plt.title(title)
    plt.xticks(rotation=45)
    plt.tight_layout()
    plt.show()

Loaded 6980 patients

## Part 1: Type Conversions (5 points)

1. Convert 'enrollment_date' to datetime using the `transform_types()` utility
2. Convert categorical columns ('site', 'intervention_group', 'sex') to category dtype
3. Ensure all numeric columns are proper numeric types
4. Display the updated dtypes

In [3]:
# TODO: Type conversions
type_map = {
        'enrollment_date': 'datetime',
        'site': 'category',
        'intervention_group': 'category',
    }
# 1. Use transform_types() to convert enrollment_date to datetime
df_transformed = transform_types(clean_data(df), type_map)
# 2. Convert categorical columns ('site', 'intervention_group', 'sex') to category dtype
# 3. Ensure all numeric columns are proper numeric types
# 4. Display the updated dtypes using 
df_transformed.dtypes

Unnamed: 0                     int64
patient_id                    object
age                          float64
sex                           object
bmi                          float64
enrollment_date       datetime64[ns]
systolic_bp                  float64
diastolic_bp                 float64
cholesterol_total            float64
cholesterol_hdl              float64
cholesterol_ldl              float64
glucose_fasting              float64
site                        category
intervention_group          category
follow_up_months               int64
adverse_events                 int64
outcome_cvd                   object
adherence_pct                float64
dropout                       object
dtype: object

## Part 2: Feature Engineering (8 points)

Create these new calculated columns:

1. `cholesterol_ratio` = cholesterol_ldl / cholesterol_hdl
2. `bp_category` = categorize systolic BP:
   - 'Normal': < 120
   - 'Elevated': 120-129
   - 'High': >= 130
3. `age_group` using `create_bins()` utility:
   - Bins: [0, 40, 55, 70, 100]
   - Labels: ['<40', '40-54', '55-69', '70+']
4. `bmi_category` using standard BMI categories:
   - Underweight: <18.5
   - Normal: 18.5-24.9
   - Overweight: 25-29.9
   - Obese: >=30

In [4]:
# TODO: Calculate cholesterol ratio
df_transformed['chlesterol_ratio'] = df_transformed['cholesterol_ldl']/df_transformed['cholesterol_hdl']
display(df_transformed)

,Unnamed: 0,patient_id,age,sex,bmi,enrollment_date,systolic_bp,diastolic_bp,cholesterol_total,cholesterol_hdl,cholesterol_ldl,glucose_fasting,site,intervention_group,follow_up_months,adverse_events,outcome_cvd,adherence_pct,dropout,chlesterol_ratio
0,0,p00001,80.0,f,29.3,2022-05-01,123.0,80.0,120.0,55.0,41.0,118.0,site b,control,20,0,no,24.0,no,0.745455
1,2,p00003,82.0,female,-1.0,2023-11-04,123.0,86.0,172.0,56.0,82.0,77.0,site c,treatment b,2,0,yes,70.0,no,1.464286
2,3,p00004,95.0,female,25.4,2022-08-15,116.0,77.0,200.0,56.0,104.0,115.0,site d,treatment b,17,0,no,62.0,no,1.857143
3,6,p00007,84.0,f,25.4,2022-05-12,133.0,100.0,215.0,62.0,113.0,70.0,site a,treatment a,20,1,no,76.0,no,1.822581
4,7,p00008,70.0,male,24.7,2022-06-04,111.0,72.0,174.0,60.0,94.0,109.0,site b,treatment a,19,0,no,53.0,no,1.566667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6975,9995,p09996,72.0,male,23.2,2022-04-11,122.0,73.0,182.0,54.0,92.0,97.0,site c,treatment b,21,0,no,20.0,no,1.703704
6976,9996,p09997,100.0,female,28.9,2023-02-10,124.0,78.0,157.0,56.0,70.0,102.0,site c,control,11,0,no,57.0,no,1.250000
6977,9997,p09998,78.0,f,23.8,2023-11-05,110.0,63.0,154.0,69.0,71.0,114.0,site c,treatment a,2,1,no,77.0,no,1.028986
6978,9998,p09999,86.0,f,27.0,2022-08-27,139.0,98.0,196.0,38.0,119.0,126.0,site a,control,16,0,no,63.0,no,3.131579
6979,9999,p10000,67.0,female,29.4,NaT,134.0,83.0,197.0,51.0,117.0,128.0,site a,treatment a,22,0,yes,48.0,no,2.294118

In [5]:
# TODO: Categorize blood pressure
df_transformed = create_bins(df_transformed, column='systolic_bp', bins = [0, 120, 130, 200], labels=['Normal','Elevated', 'High'], new_column="bp_group")
display(df_transformed)

,Unnamed: 0,patient_id,age,sex,bmi,enrollment_date,systolic_bp,diastolic_bp,cholesterol_total,cholesterol_hdl,...,glucose_fasting,site,intervention_group,follow_up_months,adverse_events,outcome_cvd,adherence_pct,dropout,chlesterol_ratio,bp_group
0,0,p00001,80.0,f,29.3,2022-05-01,123.0,80.0,120.0,55.0,...,118.0,site b,control,20,0,no,24.0,no,0.745455,Elevated
1,2,p00003,82.0,female,-1.0,2023-11-04,123.0,86.0,172.0,56.0,...,77.0,site c,treatment b,2,0,yes,70.0,no,1.464286,Elevated
2,3,p00004,95.0,female,25.4,2022-08-15,116.0,77.0,200.0,56.0,...,115.0,site d,treatment b,17,0,no,62.0,no,1.857143,Normal
3,6,p00007,84.0,f,25.4,2022-05-12,133.0,100.0,215.0,62.0,...,70.0,site a,treatment a,20,1,no,76.0,no,1.822581,High
4,7,p00008,70.0,male,24.7,2022-06-04,111.0,72.0,174.0,60.0,...,109.0,site b,treatment a,19,0,no,53.0,no,1.566667,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6975,9995,p09996,72.0,male,23.2,2022-04-11,122.0,73.0,182.0,54.0,...,97.0,site c,treatment b,21,0,no,20.0,no,1.703704,Elevated
6976,9996,p09997,100.0,female,28.9,2023-02-10,124.0,78.0,157.0,56.0,...,102.0,site c,control,11,0,no,57.0,no,1.250000,Elevated
6977,9997,p09998,78.0,f,23.8,2023-11-05,110.0,63.0,154.0,69.0,...,114.0,site c,treatment a,2,1,no,77.0,no,1.028986,Normal
6978,9998,p09999,86.0,f,27.0,2022-08-27,139.0,98.0,196.0,38.0,...,126.0,site a,control,16,0,no,63.0,no,3.131579,High
6979,9999,p10000,67.0,female,29.4,NaT,134.0,83.0,197.0,51.0,...,128.0,site a,treatment a,22,0,yes,48.0,no,2.294118,High

**Note:** The `create_bins()` function has an optional `new_column` parameter. If you don't specify it, the new column will be named `{original_column}_binned`. You can use `new_column='age_group'` to give it a custom name.

In [6]:
# TODO: Create age groups
df_transformed = create_bins(df_transformed, column='age', bins=[0, 40, 55, 70, 100], labels=['<40', '40-54', '55-69', '70+'], new_column='age_group')
display(df_transformed)

,Unnamed: 0,patient_id,age,sex,bmi,enrollment_date,systolic_bp,diastolic_bp,cholesterol_total,cholesterol_hdl,...,site,intervention_group,follow_up_months,adverse_events,outcome_cvd,adherence_pct,dropout,chlesterol_ratio,bp_group,age_group
0,0,p00001,80.0,f,29.3,2022-05-01,123.0,80.0,120.0,55.0,...,site b,control,20,0,no,24.0,no,0.745455,Elevated,70+
1,2,p00003,82.0,female,-1.0,2023-11-04,123.0,86.0,172.0,56.0,...,site c,treatment b,2,0,yes,70.0,no,1.464286,Elevated,70+
2,3,p00004,95.0,female,25.4,2022-08-15,116.0,77.0,200.0,56.0,...,site d,treatment b,17,0,no,62.0,no,1.857143,Normal,70+
3,6,p00007,84.0,f,25.4,2022-05-12,133.0,100.0,215.0,62.0,...,site a,treatment a,20,1,no,76.0,no,1.822581,High,70+
4,7,p00008,70.0,male,24.7,2022-06-04,111.0,72.0,174.0,60.0,...,site b,treatment a,19,0,no,53.0,no,1.566667,Normal,55-69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6975,9995,p09996,72.0,male,23.2,2022-04-11,122.0,73.0,182.0,54.0,...,site c,treatment b,21,0,no,20.0,no,1.703704,Elevated,70+
6976,9996,p09997,100.0,female,28.9,2023-02-10,124.0,78.0,157.0,56.0,...,site c,control,11,0,no,57.0,no,1.250000,Elevated,70+
6977,9997,p09998,78.0,f,23.8,2023-11-05,110.0,63.0,154.0,69.0,...,site c,treatment a,2,1,no,77.0,no,1.028986,Normal,70+
6978,9998,p09999,86.0,f,27.0,2022-08-27,139.0,98.0,196.0,38.0,...,site a,control,16,0,no,63.0,no,3.131579,High,70+
6979,9999,p10000,67.0,female,29.4,NaT,134.0,83.0,197.0,51.0,...,site a,treatment a,22,0,yes,48.0,no,2.294118,High,55-69

In [7]:
# TODO: Create BMI categories
df_transformed = create_bins(df_transformed, column='bmi', bins=[0,18.5,25,30,40], labels=['Underweight', 'Normal', 'Overweight', 'Obese'], new_column="bmi_group")
display(df_transformed)

,Unnamed: 0,patient_id,age,sex,bmi,enrollment_date,systolic_bp,diastolic_bp,cholesterol_total,cholesterol_hdl,...,intervention_group,follow_up_months,adverse_events,outcome_cvd,adherence_pct,dropout,chlesterol_ratio,bp_group,age_group,bmi_group
0,0,p00001,80.0,f,29.3,2022-05-01,123.0,80.0,120.0,55.0,...,control,20,0,no,24.0,no,0.745455,Elevated,70+,Overweight
1,2,p00003,82.0,female,-1.0,2023-11-04,123.0,86.0,172.0,56.0,...,treatment b,2,0,yes,70.0,no,1.464286,Elevated,70+,NaN
2,3,p00004,95.0,female,25.4,2022-08-15,116.0,77.0,200.0,56.0,...,treatment b,17,0,no,62.0,no,1.857143,Normal,70+,Overweight
3,6,p00007,84.0,f,25.4,2022-05-12,133.0,100.0,215.0,62.0,...,treatment a,20,1,no,76.0,no,1.822581,High,70+,Overweight
4,7,p00008,70.0,male,24.7,2022-06-04,111.0,72.0,174.0,60.0,...,treatment a,19,0,no,53.0,no,1.566667,Normal,55-69,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6975,9995,p09996,72.0,male,23.2,2022-04-11,122.0,73.0,182.0,54.0,...,treatment b,21,0,no,20.0,no,1.703704,Elevated,70+,Normal
6976,9996,p09997,100.0,female,28.9,2023-02-10,124.0,78.0,157.0,56.0,...,control,11,0,no,57.0,no,1.250000,Elevated,70+,Overweight
6977,9997,p09998,78.0,f,23.8,2023-11-05,110.0,63.0,154.0,69.0,...,treatment a,2,1,no,77.0,no,1.028986,Normal,70+,Normal
6978,9998,p09999,86.0,f,27.0,2022-08-27,139.0,98.0,196.0,38.0,...,control,16,0,no,63.0,no,3.131579,High,70+,Overweight
6979,9999,p10000,67.0,female,29.4,NaT,134.0,83.0,197.0,51.0,...,treatment a,22,0,yes,48.0,no,2.294118,High,55-69,Overweight

## Part 3: String Cleaning (2 points)

If there are any string columns that need cleaning:
1. Convert to lowercase
2. Strip whitespace
3. Replace any placeholder values

In [8]:
# TODO: String cleaning
df_transformed.rename(columns=str.strip)
df_transformed.rename(columns=str.lower)

,unnamed: 0,patient_id,age,sex,bmi,enrollment_date,systolic_bp,diastolic_bp,cholesterol_total,cholesterol_hdl,...,intervention_group,follow_up_months,adverse_events,outcome_cvd,adherence_pct,dropout,chlesterol_ratio,bp_group,age_group,bmi_group
0,0,p00001,80.0,f,29.3,2022-05-01,123.0,80.0,120.0,55.0,...,control,20,0,no,24.0,no,0.745455,Elevated,70+,Overweight
1,2,p00003,82.0,female,-1.0,2023-11-04,123.0,86.0,172.0,56.0,...,treatment b,2,0,yes,70.0,no,1.464286,Elevated,70+,NaN
2,3,p00004,95.0,female,25.4,2022-08-15,116.0,77.0,200.0,56.0,...,treatment b,17,0,no,62.0,no,1.857143,Normal,70+,Overweight
3,6,p00007,84.0,f,25.4,2022-05-12,133.0,100.0,215.0,62.0,...,treatment a,20,1,no,76.0,no,1.822581,High,70+,Overweight
4,7,p00008,70.0,male,24.7,2022-06-04,111.0,72.0,174.0,60.0,...,treatment a,19,0,no,53.0,no,1.566667,Normal,55-69,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6975,9995,p09996,72.0,male,23.2,2022-04-11,122.0,73.0,182.0,54.0,...,treatment b,21,0,no,20.0,no,1.703704,Elevated,70+,Normal
6976,9996,p09997,100.0,female,28.9,2023-02-10,124.0,78.0,157.0,56.0,...,control,11,0,no,57.0,no,1.250000,Elevated,70+,Overweight
6977,9997,p09998,78.0,f,23.8,2023-11-05,110.0,63.0,154.0,69.0,...,treatment a,2,1,no,77.0,no,1.028986,Normal,70+,Normal
6978,9998,p09999,86.0,f,27.0,2022-08-27,139.0,98.0,196.0,38.0,...,control,16,0,no,63.0,no,3.131579,High,70+,Overweight
6979,9999,p10000,67.0,female,29.4,NaT,134.0,83.0,197.0,51.0,...,treatment a,22,0,yes,48.0,no,2.294118,High,55-69,Overweight

## Part 4: One-Hot Encoding (5 points)

Create dummy variables for categorical columns:
1. One-hot encode 'intervention_group' using `pd.get_dummies()`
2. One-hot encode 'site'
3. Drop the original categorical columns
4. Show the new shape and column names

In [9]:
# TODO: One-hot encoding
dummies_group = pd.get_dummies(df_transformed['intervention_group'], drop_first=True)
dummies_site = pd.get_dummies(df_transformed['site'], drop_first=True)

df_dummies = pd.concat([df, dummies_group, dummies_site], axis=1)
df_dummies.shape
df_dummies.columns

Index(['Unnamed: 0', 'patient_id', 'age', 'sex', 'bmi', 'enrollment_date',
       'systolic_bp', 'diastolic_bp', 'cholesterol_total', 'cholesterol_hdl',
       'cholesterol_ldl', 'glucose_fasting', 'site', 'intervention_group',
       'follow_up_months', 'adverse_events', 'outcome_cvd', 'adherence_pct',
       'dropout', 'control', 'treatmen a', 'treatment a', 'treatment b',
       'treatmenta', 'site b', 'site c', 'site d', 'site e'],
      dtype='object')

## Part 5: Save Transformed Data

Save the fully transformed dataset to `output/q6_transformed_data.csv`

In [10]:
# TODO: Save transformed data
df_transformed.to_csv('output/q6_transformed_data.csv', index=False)