# Assignment 5, Question 7: Group Operations & Final Analysis

**Points: 15**

Perform grouped analysis and create summary reports.

## Setup

In [10]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Import utilities
from q3_data_utils import load_data, summarize_by_group, clean_data

df = clean_data(load_data('data/clinical_trial_raw.csv'))
print(f"Loaded {len(df)} patients")

# Prewritten visualization function for grouped analysis
def plot_group_comparison(data, x_col, y_col, title):
    """
    Create a bar chart comparing groups.
    
    Args:
        data: DataFrame with grouped data
        x_col: Column name for x-axis (groups)
        y_col: Column name for y-axis (values)
        title: Chart title
    """
    plt.figure(figsize=(10, 6))
    data.plot(x=x_col, y=y_col, kind='bar')
    plt.title(title)
    plt.xticks(rotation=45)
    plt.tight_layout()
    plt.show()

Loaded 10000 patients

## Part 1: Basic Groupby (5 points)

1. Group by 'site' and calculate mean age, BMI, and blood pressure
2. Group by 'intervention_group' and count patients
3. Use the `summarize_by_group()` utility to get overall statistics by site

In [11]:
# TODO: Group by site
summary_site = summarize_by_group(df,'site')
display(summary_site)

           age                                                          bmi  \
         count       mean        std   min   25%   50%   75%    max   count
site
site a  2888.0  81.213296  13.728106  44.0  71.0  81.0  94.0  100.0  2873.0
site b  2412.0  80.444030  13.426288  45.0  70.0  80.0  92.0  100.0  2350.0
site c  2028.0  80.750986  13.371495  43.0  71.0  81.0  92.0  100.0  1968.0
site d  1477.0  80.755586  13.465774  45.0  71.0  80.0  92.0  100.0  1422.0
site e   995.0  80.415075  13.750126  44.0  70.0  80.0  92.0  100.0   949.0

                   ... adverse_events      adherence_pct             \
             mean  ...            75%  max         count       mean
site               ...
site a  25.875183  ...            0.0  3.0        2527.0  61.610605
site b  25.706681  ...            0.0  4.0        2078.0  60.876323
site c  25.789583  ...            0.0  3.0        1788.0  60.923937
site d  25.565682  ...            0.0  2.0        1272.0  59.672170
site e  25.476502  ...            0.0  3.0         868.0  57.842166


              std   min   25%   50%    75%    max
site
site a  19.049264  20.0  48.0  63.0  75.00  100.0
site b  18.950906  20.0  47.0  62.0  75.00  100.0
site c  18.256790  20.0  49.0  62.0  74.00  100.0
site d  19.143261  20.0  46.0  61.0  74.25  100.0
site e  19.720813  20.0  44.0  57.0  72.00  100.0

[5 rows x 88 columns]

In [12]:
# TODO: Count by intervention group
summarize_by_group(df, 'intervention_group')

                       age                                                  \
                     count       mean        std   min    25%   50%    75%
intervention_group
contrl               858.0  81.328671  13.609203  44.0  71.00  82.0  93.00
control             2413.0  80.743887  13.357778  45.0  71.00  80.0  92.00
treatmen a           636.0  81.061321  13.498125  47.0  70.75  81.0  92.25
treatment a         1922.0  80.589490  13.608895  43.0  71.00  80.0  92.00
treatment b         3286.0  80.576385  13.677658  44.0  70.00  80.0  92.00
treatmenta           685.0  81.445255  13.339099  47.0  71.00  82.0  93.00

                              bmi             ... adverse_events       \
                      max   count       mean  ...            75%  max
intervention_group                            ...
contrl              100.0   841.0  25.703092  ...            0.0  2.0
control             100.0  2352.0  25.822874  ...            0.0  2.0
treatmen a          100.0   620.0  25.672258  ...            0.0  3.0
treatment a         100.0  1887.0  25.717170  ...            0.0  4.0
treatment b         100.0  3187.0  25.667179  ...            0.0  3.0
treatmenta          100.0   675.0  25.833333  ...            0.0  2.0

                   adherence_pct                                          \
                           count       mean        std   min   25%   50%
intervention_group
contrl                     742.0  59.962264  19.587271  20.0  47.0  61.0
control                   2089.0  60.855912  18.586208  20.0  48.0  62.0
treatmen a                 560.0  59.846429  19.087258  20.0  46.0  61.0
treatment a               1677.0  60.679785  19.494064  20.0  47.0  62.0
treatment b               2871.0  61.009404  18.782032  20.0  48.0  62.0
treatmenta                 594.0  59.227273  18.854297  20.0  46.0  59.0


                     75%    max
intervention_group
contrl              74.0  100.0
control             74.0  100.0
treatmen a          74.0  100.0
treatment a         75.0  100.0
treatment b         75.0  100.0
treatmenta          73.0  100.0

[6 rows x 88 columns]

**Note:** The `summarize_by_group()` function has an optional `agg_dict` parameter for custom aggregations. If you don't specify it, it will use `.describe()` on numeric columns. You can use `agg_dict={'age': ['mean', 'std'], 'bmi': 'mean'}` for custom aggregations.

In [13]:
# TODO: Use summarize_by_group utility
summary_intervention = summarize_by_group(df,'site',agg_dict={'age': ['mean', 'std'], 'bmi': 'mean'})

## Part 2: Multiple Aggregations (5 points)

Group by 'site' and apply multiple aggregations:
- age: mean, std, min, max
- bmi: mean, std
- systolic_bp: mean, median

Display the results in a well-formatted table.

In [14]:
# TODO: Multiple aggregations
site_agg = summarize_by_group(df,'site',agg_dict={'age': ['mean', 'std','min', 'max'], 'bmi': ['mean', 'std'], 'systolic_bp': ['mean', 'median']})
display(site_agg)

              age                                bmi           systolic_bp  \
             mean        std   min    max       mean       std        mean
site
site a  81.213296  13.728106  44.0  100.0  25.875183  4.983102  117.354284
site b  80.444030  13.426288  45.0  100.0  25.706681  5.017423  117.130675
site c  80.750986  13.371495  43.0  100.0  25.789583  5.417217  117.978359
site d  80.755586  13.465774  45.0  100.0  25.565682  5.881319  117.943662
site e  80.415075  13.750126  44.0  100.0  25.476502  6.084532  117.503080


       median
site
site a  117.0
site b  117.0
site c  118.0
site d  118.0
site e  117.0

## Part 3: Comparative Analysis (5 points)

Compare intervention groups:
1. Calculate mean outcome_cvd rate by intervention_group
2. Calculate mean adherence_pct by intervention_group
3. Create a cross-tabulation of intervention_group vs dropout status
4. Visualize the comparison with a bar plot

In [15]:
# TODO: Intervention group comparisons
"""
yes = 0 
no = df['outcome_cvd'] == 'no'
if df['outcome_cvd'] == "yes":
    yes += 1
if df['outcome_cvd'] == 'no':
    no += 1
"""
#outcome_cvd_rate = yes/(yes+no)
#display(outcome_cvd_rate)
df['intervention_group'] = df['intervention_group'].str.replace('contrl', 'control')
df['intervention_group'] = df['intervention_group'].str.replace('treatmen a', 'treatment a')
df['intervention_group'] = df['intervention_group'].str.replace('treatmenta', 'treatment a')
#summarize_by_group(df, '', agg_dict={'intervention_group': 'mean'})
ad_group = summarize_by_group(df, 'intervention_group', agg_dict={'adherence_pct': 'mean'})
display(ad_group)
comparison = pd.crosstab(df['dropout'],df['intervention_group'])
display(comparison)

                    adherence_pct
intervention_group
control                 60.621688
treatment a             60.210173
treatment b             61.009404

intervention_group  control  treatment a  treatment b
dropout
no                     2831         2831         2871
yes                     506          490          471

In [16]:
# TODO: Visualization
#plot_group_comparison(comparison, "testx", "texty", "testtitle")

## Part 4: Final Report

Create and save:
1. Summary statistics by site → `output/q7_site_summary.csv`
2. Intervention group comparison → `output/q7_intervention_comparison.csv`
3. Text report with key findings → `output/q7_analysis_report.txt`

In [17]:
# TODO: Save summary outputs
summary_site.to_csv('output/q7_site_summary.csv')
summary_intervention.to_csv('output/q7_intervention_comparison.csv')
report = f'{summary_site}\n{site_agg}\n{summary_intervention}'
with open('output/q7_analysis_report.txt', 'w') as file:
    file.write(report)

## Summary

What are the 3 most important findings from your analysis?

**Key Findings:**

1. TODO 
2. TODO
3. TODO